$breakpoint-tablet: 767px;

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .show {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #151515;
    border: 10px groove darkred;
    
    &.favourited {
      border: 10px groove darkgoldenrod;
    }

    &:hover {
      cursor: pointer;
    }

    &__image {
      width: 100%;
    }

    &__info {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      row-gap: 5px;

      &__name {
        font-size: 26px;
        font-weight: 600;
        color: red;
      }
    }

    &__fav-button {
      padding: 5px 0;
      font-size: 16px;
      &.favourited {
        background-color: darkgoldenrod;
        color: white;
        &:hover {
          background-color: darkred;
        }
      }
    }
  }
}

.show-search {
  display: flex;
  justify-content: center;
  align-items: center;

  &__textfield {
    width: 33%;
    margin: 30px 10px;
    padding: 6px;
    font-size: 18px;
  }

  &__button {
    height: fit-content;
    padding: 8px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 2px solid red;
  }
}

.show-paginator {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin: 10px;

  button {
    background-color: red;
    border: 0;
    font-size: 16px;
    color: white;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.seasons-list,
.episodes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;

  .season {
    display: flex;
    flex-direction: row;
    border: 10px groove darkred;
    background-color: #151515;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      height: auto;
    }

    &:hover {
      cursor: pointer;
    }

    &__image {
      height: 250px;

      @media (max-width: $breakpoint-tablet) {
        height: auto;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 26px;
      padding: 10px;
      row-gap: 5px;

      &__number {
        font-size: 36px;
        font-weight: 600;
        color: red;
      }
    }
  }

  .episode {
    display: flex;
    flex-direction: row;
    border: 10px groove darkred;
    background-color: #151515;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      height: auto;
    }

    &__image {
      height: 250px;

      @media (max-width: $breakpoint-tablet) {
        height: auto;
        width: unset;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 26px;
      padding: 10px;
      row-gap: 5px;

      &__name {
        font-size: 36px;
        font-weight: 600;
        color: red;
      }
    }
  }
}

.favourite-shows-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  &__label {
    font-size: 36px;
    color: red;
  }
  
  &__shows {
    font-size: 22px;
  }
}

.back-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: red;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}